:root {
  --brand-color-black: #212121;
  --brand-color-blue: #2196f3;
  --brand-color-gray: #757575;
  --brand-color-white: #ffffff;
  --background-color: #2f303a;
  --background-color-gray: #f5f4fa;
  --item: 1;
  --indent: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
}

.body.no-scroll {
  overflow: hidden;
}

.padding-hide {
  padding-left: 0;
  list-style-type: none;
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-product {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-product {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-shop-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .flex-shop-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.small-button {
  background-color: var(--background-color-gray);
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px 6px 22px;
}

.small-button:hover, .small-button:focus {
  background-color: var(--brand-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.small-button-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .small-button-item {
    margin-bottom: 0px;
  }
}

.small-button-item:last-child {
  margin-right: 0px;
}

.small-button-text {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.small-button-text:hover, .small-button-text:focus {
  color: var(--brand-color-white);
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brand-color-black);
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .logo {
    margin-right: 88px;
  }
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
  text-decoration: none;
}

.white {
  color: var(--brand-color-white);
}

.menu-button {
  position: relative;
  z-index: 100;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-icon:hover, .menu-icon:focus {
  fill: var(--brand-color-blue);
}

.menu-icon-open {
  opacity: 1;
  transition: 400ms;
}

.menu-button.is-open .menu-icon-open {
  opacity: 0;
}

.menu-icon-close {
  position: absolute;
  opacity: 0;
  transform-origin: center;
  transition: 400ms;
}

.menu-button.is-open .menu-icon-close {
  opacity: 1;
}

.menu-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 400ms;
}

@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
}

.menu-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffffff;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  transition: 400ms;
}

.menu-overlay.is-open .menu {
  transform: translateX(0);
}

.menu__nav {
  margin-bottom: auto;
}

.menu__nav-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.menu__nav-item {
  margin-bottom: 32px;
}

.menu__nav-item:last-child {
  margin-bottom: 0;
}

.menu__nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-black);
}

@media screen and (max-width: 478.98px) {
  .menu__nav-link {
    font-size: 30px;
    line-height: 35px;
  }
}

.menu__nav-link:hover, .menu__nav-link:focus {
  color: var(--brand-color-blue);
}

.menu__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-decoration: none;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

@media screen and (max-width: 478.98px) {
  .menu__phone {
    font-size: 24px;
  }
}

.menu__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  text-decoration: none;
  color: var(--brand-color-gray);
}

.menu__mail:hover, .menu__mail:focus {
  color: var(--brand-color-blue);
}

.menu__socials {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.public-socials__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--brand-color-blue);
  margin-right: 10px;
}

@media screen and (max-width: 478.98px) {
  .public-socials__link {
    font-size: 12px;
    line-height: 22px;
  }
}

.public-socials__item {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.public-socials__item:last-child {
  margin: 0px;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 350ms;
  transition-timing-function: linear;
  z-index: 200;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--brand-color-blue);
}

.close-icon {
  fill: var(--brand-color-black);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*submit btn*/
.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
  width: 200px;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 478.98px) {
  .modal {
    width: 365px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-message {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: justify;
  margin-bottom: 12px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.input-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--brand-color-gray);
  margin-bottom: 4px;
}

.form-input {
  min-height: 40px;
  padding: 12px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-input:hover, .form-input:focus {
  border-color: var(--brand-color-blue);
}

.input-icon {
  position: absolute;
  top: 31px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover .input-icon,
.modal-label:focus .input-icon {
  fill: var(--brand-color-blue);
}

.form-coments {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 10px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-coments:hover, .form-coments:focus {
  border-color: var(--brand-color-blue);
}

.form-coments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox {
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  border: 2px solid var(--brand-color-black);
  border-radius: 3px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .custom-checkbox {
  background-color: var(--brand-color-blue);
  border-color: var(--brand-color-blue);
}

.agreement-checkbox:checked + .custom-checkbox > .custom-checkbox-icon {
  fill: var(--brand-color-white);
}

.agreement-text {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (min-width: 1200px) {
  .agreement-text {
    font-size: 14px;
    line-height: 24px;
  }
}

.agreement-link {
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (min-width: 1200px) {
  .agreement-link {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    gap: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .advantages__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}

.advantages__item:last-child {
  margin-right: 0px;
}

.advantages__sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .advantages__sub-title {
    text-align: center;
  }
}

.advantages__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
}

.advantages__box {
  background-color: var(--background-color-gray);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-clients {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .flex-clients {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .flex-clients {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.clients-li {
  --item: 2;
  flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}

@media screen and (min-width: 768px) {
  .clients-li {
    --item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients-li {
    --item: 6;
  }
}

@media screen and (min-width: 1200px) {
  .clients-li {
    margin-right: 30px;
  }
}

.clients-li:last-child {
  margin-right: 0px;
}

.client-link {
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: var(--brand-color-blue);
}

.client-item {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-item,
.client-link:focus .client-item {
  fill: var(--brand-color-blue);
}

.deliverables {
  padding-top: 0px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .deliverables {
    display: block;
  }
}

.header2wwd {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 50px;
}

.flex-wat-we-d {
  display: flex;
  align-items: center;
}

.what-we-do-item {
  margin-right: 30px;
}

.what-we-do-item:last-child {
  margin-right: 0px;
}

.image-desc {
  position: relative;
}

.image-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.backgroundblk {
  background-color: var(--background-color);
}

.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav:hover, .footer-nav:focus {
  color: var(--brand-color-blue);
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--brand-color-white);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover, .footer-adress:focus {
  color: var(--brand-color-blue);
}

.adress-bar-footer {
  margin-top: 20px;
}

.social-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .social-paragraph {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-flex {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.footer-container {
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    margin-right: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
    margin-right: 70px;
  }
}

.flex-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item-footer {
  margin-right: 10px;
}

.social-item-footer:hover .circle-footer,
.social-item-footer:focus .circle-footer {
  background-color: var(--brand-color-blue);
}

.social-item-footer:last-child {
  margin-right: 0px;
}

.circle-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .footer-form-container {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    margin-left: 93px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    max-width: 358px;
    flex-direction: row;
  }
}

.footer-input {
  flex-shrink: 0;
  width: 100%;
  max-width: 450px;
  max-height: 50px;
  padding: 15px 16px;
  color: var(--brand-color-white);
  background-color: var(--background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
  }
}

.footer-button-icon {
  margin-left: 10px;
  fill: var(--brand-color-white);
}

.footer-form-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
}

.font-style-none {
  font-style: normal;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/background_sm.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/background@2x_sm.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/background_md.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/background@2x_md.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/backgound.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung/background@2x.jpg);
  }
}

.hero__main-statement {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero__main-statement {
    font-size: 44px;
    max-width: 696px;
  }
}

.hero__main-statement--white {
  color: var(--brand-color-white);
}

.main__button {
  background-color: var(--brand-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  width: 200px;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
}

.main__button:hover, .main__button:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: #ececec solid 1px;
}

@media screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.navigation-mar {
  margin-right: 50px;
}

.navigation-mar:last-child {
  margin: 0px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-black);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover, .navigation-item:focus {
  color: var(--brand-color-blue);
}

.blue {
  color: var(--brand-color-blue);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color-blue);
}

.icon-header {
  margin-right: 0px;
  margin-right: 10px;
  fill: var(--brand-color-gray);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-highlight:hover .icon-header,
.header-highlight:focus .icon-header {
  fill: var(--brand-color-blue);
}

.adress-bar {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .adress-bar {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .adress-bar {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-highlight {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .adress-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--brand-color-gray);
    text-decoration: none;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .adress-item {
    font-size: 14px;
    line-height: 16px;
  }
}

.header-highlight:hover .adress-item,
.header-highlight:focus .adress-item {
  color: var(--brand-color-blue);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .flex-products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0px;
    gap: 30px;
  }
}

.product-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .product-item {
    width: 354px;
    display: flex;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .product-item {
    width: 370px;
    display: flex;
    margin-bottom: 0;
  }
}

.product-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover, .product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.inner-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 20px 24px;
}

@media screen and (min-width: 768px) {
  .inner-border {
    flex-grow: 1;
  }
}

.image-display-desription {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-black);
  margin: 0px;
  margin-bottom: 4px;
}

.product-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .product-wrapper {
    width: 354px;
  }
}

.product-descr {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

@media screen and (max-width: 478.98px) {
  .product-descr {
    font-size: 14px;
    line-height: 22px;
  }
}

.product-wrapper:hover .product-descr {
  transform: translateY(0);
}

.team {
  background-color: var(--background-color-gray);
}

.header2oc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 47.65px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .flex-our-com {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-our-com {
    display: flex;
    align-items: center;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  background-color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .team-item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-item {
    width: 354px;
    margin-right: 0px;
  }
}

.team-item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767.98px) {
  .team-item:last-child {
    margin-bottom: 0px;
  }
}

.image-display {
  display: block;
}

.description-spec {
  padding: 30px;
}

.job-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
  margin-bottom: 16px;
}

.flex-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-item:hover .circle .icon-item,
.social-item:focus .circle .icon-item {
  fill: #ffffff;
}

.hero3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 9.49px;
}

.circle {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.circle:hover, .circle:focus {
  background-color: var(--brand-color-blue);
}

.icon-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */