.flex-products {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    gap: 30px;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0px;
    gap: 30px;
  }
}

.product-item {
  margin-bottom: 30px;
  @include mq(tablet) {
    display: flex;
    margin-bottom: 0;
  }
}

.product-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.inner-border {
  @include mq(tablet) {
    flex-grow: 1;
  }
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 20px 24px;
}

.image-display-desription {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-black);
  margin: 0px;
  margin-bottom: 4px;
}

.product-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--brand-color-gray);
  margin: 0px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-wrapper {
  @include mq(tablet-only) {
    width: 354px;
  }
}

.product-descr {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: linear;

  .product-wrapper:hover & {
    transform: translateY(0);
  }
}
