.body {
  &.no-scroll {
    overflow: hidden;
  }
}

.padding-hide {
  padding-left: 0;
  list-style-type: none;
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-product {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
